= render :partial => 'shared/header'
.container
  .row
    = render :partial => 'shared/sidebar_nav'
    #content.col-lg-10.col-sm-11
      .row
        .col-lg-12
          .box
            .box-header
              %h2
                %i.fa.fa-edit>
                Edit Episode der
                = episode_audio_url(@episode)
              .box-icon
                %a.btn-setting{href: "#"}
                  %i.fa.fa-wrench
                %a.btn-minimize{href: "#"}
                  %i.fa.fa-chevron-up
                %a.btn-close{href: "#"}
                  %i.fa.fa-times
            .box-content
              = form_for @episode do |f|
                %table#user.table.table-bordered.table-striped{style: "clear: both"}
                  %tbody
                    %tr
                      %td{width: "35%"} Title
                      %td{width: "65%"}
                        = f.text_field :title, {class: "form-control"}
                    %tr
                      %td Artist
                      %td
                        = f.text_field :author, {class: "form-control"}
                    %tr
                      %td Subtitle
                      %td
                        = f.text_field :subtitle, {class: "form-control"}
                    %tr
                      %td
                        Summary
                      %td
                        = f.text_area :summary, {class: "form-control"}
                    %tr
                      %td
                        Publish Date
                      %td
                        .controls
                          .input-group.col-sm-4
                            %span.input-group-addon
                              %i.fa.fa-calendar
                            = f.date_select(:pub_date, {with_css_classes: false}, {class: "form-control"} )
                    %tr
                      %td Image
                      %td
                        = f.file_field :image, {class: "form-control"}
                    %tr
                      %td Audio
                      %td
                        = f.file_field :audio, {class: "form-control"}
                .form-actions
                  %button.btn.btn-primary{type: "submit"} Update Episode
                  %button.btn Cancel
= render :partial => 'shared/footer'

- content_for :script_files do
  = javascript_include_tag '/assets/form-x-editable-demo.js'
  = javascript_include_tag '/assets/form-x-editable.js'
