= render :partial => 'shared/header'
.container
  .row
    = render :partial => 'shared/sidebar_nav'
    #content.col-lg-10.col-sm-11
      .row.page-todo
        .col-sm-12.tasks
          .task-list
            %h1= @episode.title
            .priority.low
              %span= @episode.pub_date.strftime("%b %e, %Y")
            .task.low
              .desc
                .title
                  %small= @episode.subtitle
                %div= @episode.summary.html_safe
              .time
                .date
                  - if can? :edit, User
                    = link_to "Edit", edit_episode_path(@episode), :class => "btn"
            .audiogallery{style: "opacity:0;"}
              .items
                .audioplayer-tobe{"data-source" => "#{@episode.audio.url(:original, false)}", "data-thumb" => "#{@episode.image.url(:medium, false)}", "data-type" => "normal", "data-videotitle" => "#{@episode.title}", style: "width:100%;"}

            .clearfix
= render :partial => 'shared/footer'
- content_for :script_files do
  = javascript_include_tag '/assets/audioplayer/audioplayer.js'
- content_for :script do
  :javascript
    jQuery(document).ready(function ($) {
      var settings_ap = {
        disable_volume: 'off'
        ,disable_scrub: 'default'
        ,design_skin: 'skin-wave'
        ,skinwave_dynamicwaves:'off'
        ,skinwave_enableSpectrum: 'off'
        ,settings_backup_type:'full'
        ,settings_useflashplayer:'auto'
        ,skinwave_spectrummultiplier: '4'
        ,skinwave_comments_enable:'on'
      };
      dzsag_init('.audiogallery',{
        'transition'  : 'fade',
        'autoplay'    : 'off',
        'settings_ap' : settings_ap
      });
    });


